@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

body::before,
body::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;

}

body::before {
    clip-path: circle(30% at left 20%);
    background: linear-gradient(135deg, #f6416c 10%, #ff9a9e 100%);
}

body::after {
    clip-path: circle(25% at right 80%);
    background: linear-gradient(135deg, #f6416c 10%, #ff9a9e 100%);
}

header {
    height: 85vh;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

header .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 35px 50px;
}

header .navbar .logo a {
    color: #000;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
}

header .navbar .menu {
    display: flex;
}

.navbar .menu li {
    list-style: none;
    margin: 0 6px;
}

.navbar .menu a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar .menu a:hover {
    color: #a39c9c;
}

.navbar .button input {
    color: #f2f2f2;
    outline: none;
    font-size: 17px;
    font-weight: 500;
    padding: 6px 12px;
    margin: 0 8px;
    background: linear-gradient(135deg, #f6416c 10%, #ff9a9e 100%);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.3 ease;
}

.navbar .button input:hover {
    transform: scale(0.97);
}

.content {
    width: 40%;
    margin: 100px 0 0 50px;
}

.content h2 {
    font-size: 27px;
    font-weight: 600;
}

.content p {
    margin-top: 10px;
    font-size: 15px;
}

.photo {
    width: 100px;
    border-radius: 100px;
    display: flex;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

img {
    display: flex;
}

@media (max-width:850px) {
    header .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu {
        margin: 10px 0 20px 0;
    }

    .content {
        width: 70%;
        margin: 30px 0 0 20px;
    }
}

@media (max-width:410px) {
    header {
        height: 100vh;
        width: 100%;
        border-radius: 0;
    }
}