body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: hsl(0, 0%, 95%); */
    background-color: #EAEAEA;
}

button{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 43px;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 350px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

#display{
    width: 100%;
    padding: 30px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}

button:focus{
    outline-style: none;
}